.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 15vh;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.App-title {
  font-size: 1.8em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  color: white;
  font-weight: 600;
  padding: 20px;
  height: 4.9vh;
  background-color: #FF9000;
}