.ProductBody {
  background-color: #222;
  height: 68vh;
  padding: 20px;
}

.ProductBody-Intro {
  background-color: #222;
  height: 68vh;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.ProductBody-Name {
  color: white;
  font-size: 30px;
  height: 5%;
}

.ProductBody-Category {
  
  float: left;
  color: white;
  font-size: 20px;
  margin: 1%;
  height: 5%;
  width: 48%;
  box-sizing: border-box;
}

.ProductBody-Dimensions {

  float: left;
  color: white;
  font-size: 20px;
  margin: 1%;
  height: 5%;
  width: 48%;
  box-sizing: border-box;
}

.ProductBody-Image {
  margin: 1%;
  color: white;
  font-size: 20px;
  margin: 1%;
  height: 50%;
}

.ProductBody-Rank {
  color: white;
  font-size: 20px;
  margin: 1%;
  height: 3%;
  box-sizing: border-box;
}

.ProductBody-UrlBox {
  margin: 5%;
  height: 5%;
  box-sizing: border-box;
}

.ProductBody-Url {
  color: #FF9000;
  font-size: 25px;
}